# Ignore configuration files that may contain sensitive information.
*/*settings*.php
example.sites.php

# Ignore paths that contain generated content.
files/
*/files
*/private
*/translations
README.txt
all/libraries/README.txt
all/modules/README.txt
all/themes/README.txt
