body {
  font-family: Helvetica Neue LT W01_55 Roman,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-stretch: normal;
  line-height: 1.42857143;
  color: #333;

  .v-content {
    background: #eee;
  }

  .container--fluid {
    height: auto;
    overflow: hidden;
    position: relative;
    text-align: left;
    background-color: transparent;
    border: none;
    display: block;
    margin: 0 auto;
    max-width: 1360px;
    width: 100%;
    padding: 0;
  }

  h1, h2 {
    font-family: Helvetica Neue LT W01_41488878,Helvetica,Arial,sans-serif;
    font-weight: 400;
  }

  .carousel {

    .slide-caption {

      .button {
        background-repeat: no-repeat;
        -webkit-background-size: 70px 7967px;
        background-size: 70px 7967px;
        background-position: right -1271px;
        color: #fff;
        height: 50px;
        width: 224px;
        text-align: center;
        text-transform: none;
        vertical-align: middle;
        text-indent: -16px;
        background-color: #f49800;
        cursor: pointer;
        display: block;
        font-size: 1em;
        line-height: 50px;
        text-decoration: none;

        & .origin {
          background-color: #f49800;
        }
      }
    }
  }

  .footer-right {

    .wechat-image {

      .v-responsive__content {
        display: none !important;
      }
    }
  }

  .v-btn__content {
    text-transform: capitalize;
  }

  /*默认颜色==========*/
  header, footer, .slide-caption .button {
    background-color: #2196f3 !important;
    transition: background-color .3s ease-in-out,color .3s ease-in-out;
  }

  .search-container {
    border-bottom: 20px solid #2196f3 !important;
  }

  .caption {

    & > a {

      &:first-child {
        color: #2196f3;
        text-decoration: none;
      }

      &:last-child {
        color: #000;
        text-decoration: none;
      }
    }
  }

  #middle-content .col {

    h1 {
      color: #2196f3;
    }

    h2 {
      color: #2196f3;
    }

    a {
      color: #2196f3;
    }

    .v-icon {
      background-color: #2196f3;
    }

    .footer-welcome {
      color: #2196f3;
    }
  }

  #home-search .v-size--large {
    background-color: #2196f3;

    &:after {
      background: #2196f3;
    }
  }

  /*默认颜色==========*/

  .green_dark2, .green_dark1 {
    border-color: #00793a !important;

    header, footer, .slide-caption .button {
      background-color: #00793a !important;
    }

    .search-container {
      border-bottom: 20px solid #00793a !important;
    }

    .caption {

      & > a {

        &:first-child {
          color: #00793a;
          text-decoration: none;
        }

        &:last-child {
          color: #000;
          text-decoration: none;
        }
      }
    }

    #middle-content .col {
      h1 {
        color: #00793a;
      }

      h2 {
        color: #00793a;
      }

      a {
        color: #00793a;
      }

      .v-icon {
        background-color: #00793a;
      }

      .footer-welcome {
        color: #00793a;
      }
    }

    #home-search .v-size--large {
      background-color: #00793a;

      &:after {
        background: #00793a;
      }
    }
  }

  .blue_dark2, .blue_dark1 {
    border-color: #004a96 !important;

    header, footer, .slide-caption .button {
      background-color: #004a96 !important;
    }

    .search-container {
      border-bottom: 20px solid #004a96 !important;
    }

    .caption {

      & > a {

        &:first-child {
          color: #004a96;
          text-decoration: none;
        }

        &:last-child {
          color: #000;
          text-decoration: none;
        }
      }
    }

    #middle-content .col {

      h1 {
        color: #004a96;
      }

      h2 {
        color: #004a96;
      }

      a {
        color: #004a96;
      }

      .v-icon {
        background-color: #004a96;
      }

      .footer-welcome {
        color: #004a96;
      }
    }

    #home-search .v-size--large {
      background-color: #004a96;

      &:after {
        background: #004a96;
      }
    }
  }

  .green_light2, .green_light1 {
    border-color: #65ac1e !important;

    header, footer, .slide-caption .button {
      background-color: #65ac1e !important;
    }

    .search-container {
      border-bottom: 20px solid #65ac1e !important;
    }

    .caption {

      & > a {

        &:first-child {
          color: #65ac1e;
          text-decoration: none;
        }

        &:last-child {
          color: #000;
          text-decoration: none;
        }
      }
    }

    #middle-content .col {

      h1 {
        color: #65ac1e;
      }

      h2 {
        color: #65ac1e;
      }

      a {
        color: #65ac1e;
      }

      .v-icon {
        background-color: #65ac1e;
      }

      .footer-welcome {
        color: #65ac1e;
      }
    }

    #home-search .v-size--large {
      background-color: #65ac1e;

      &:after {
        background: #65ac1e;
      }
    }
  }

  .red1, .red2 {
    border-color: #c50022 !important;

    header, footer, .slide-caption .button {
      background-color: #c50022 !important;
    }

    .search-container {
      border-bottom: 20px solid #c50022 !important;
    }

    .caption {

      & > a {

        &:first-child {
          color: #c50022;
          text-decoration: none;
        }

        &:last-child {
          color: #000;
          text-decoration: none;
        }
      }
    }

    #middle-content .col {

      h1 {
        color: #c50022;
      }

      h2 {
        color: #c50022;
      }

      a {
        color: #c50022;
      }

      .v-icon {
        background-color: #c50022;
      }

      .footer-welcome {
        color: #c50022;
      }
    }

    #home-search .v-size--large {
      background-color: #c50022;

      &:after {
        background: #c50022;
      }
    }
  }

  .orange1, .orange2 {
    border-color: #f39500 !important;

    header, footer, .slide-caption .button {
      background-color: #f39500 !important;
    }

    .search-container {
      border-bottom: 20px solid #f39500 !important;
    }
    
    .caption {
      
      & > a {

        &:first-child {
          color: #f39500;
          text-decoration: none;
        }

        &:last-child {
          color: #000;
          text-decoration: none;
        }
      }
    }

    #middle-content .col {

      h1 {
        color: #f39500;
      }

      h2 {
        color: #f39500;
      }

      a {
        color: #f39500;
      }

      .v-icon {
        background-color: #f39500;
      }

      .footer-welcome {
        color: #f39500;
      }
    }

    #home-search .v-size--large {
      background-color: #f39500;

      &:after {
        background: #f39500;
      }
    }
  }

  .v-application {
    font-family: Arial,sans-serif !important;
    text-align: left !important;

    a {
      text-decoration: none;
    }

    p {
      font-size: 16px !important;
      color: #333;
    }

    span.label {
      font-size: 18px !important;
      color: #808080;
    }

    .info {
      background: #fff!important;
      border: 1px solid #333 !important;
      color: #333 !important;
      min-width: 50% !important;
    }
  }


  .teaser-container {
    background-color: #fff;
    display: inline-block;
    float: left;
    height: auto;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
    border-bottom: 20px solid;
    border-color: #2196f3;

    p {
      font-size: 14px !important;
    }

    .caption {
      background-color: #fff;
      display: inline-block;
      float: left;
      height: auto;
      overflow: hidden;
      position: relative;
      text-align: left;
      width: 100%;
      margin: 0;
      min-height: 150px;
      padding: 20px 20px 10px;

      .title {
        font-size: 18px;
        margin-bottom: 7px;
      }

      & > a {

        &:first-child {
          color: #004a96;
          text-decoration: none;
        }

        &:last-child {
          color: #565555;
          text-decoration: none;
          position: absolute;
          bottom: 10px;
        }
      }

      @media screen and (min-width: 1204px) {
        margin: 0;
        height: 100%;
        left: 50%;
        padding-top: 10px;
        position: absolute;
        width: 50%;
      }
    }

    & .orange {
      border-color: #f49800;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 0;
      height: 320px;
    }
  }
}

main {

  .container {

    & > .row {

      & > .col {

        & > div {
          background-color: #fff;
          border-radius: 8px;
          display: inline-block;
          float: left;
          padding: 10px 3%;
          width: 100%;

          @media screen and (min-width: 480px) {
            padding: 12px 5%;
          }

          @media screen and (min-width: 1204px) {
            padding: 12px 8%;
          }

          @media screen and (min-width: 1280px) {
            padding: 15px 10%;
          }
        }
      }
    }
  }

  .container--fluid {

    & > .row {
      margin: 0;

      & > .col {
        padding: 0;
      }
    }
  }
}

.item-property {
  border-bottom: 1px solid #eee;
  float: left;
  padding: 8px 0;
  position: relative;
  width: 100%;

  & > span {
    float: left;
    line-height: 24px;
    max-width: 80%;
    vertical-align: middle;

    &:last-of-type {
      float: right;
      position: relative;
      right: 20px;
    }
  }
}

.item {

  &.listed {
    -webkit-animation: .4s ease-out 0s 1 rotateX;
    animation: .4s ease-out 0s 1 rotateX;
    border: 1px solid transparent;
    background-color: #fff;
    border-radius: 8px;
    display: inline-block;
    float: left;
    height: auto;
    margin: 1px 0;
    max-height: 64px;
    overflow: visible;
    padding: 0 1%;
    position: relative;
    transition: all .15s ease-in-out;
    width: 100%;
    z-index: 10;
    box-shadow: 0 0 15px 0 transparent;

    &.result{
      border-radius: 0;
      border-bottom: 1px solid #eee;
      margin: 0;
      padding: 0;

      & > span {

        &:first-child {
          width: 90%
        }

        &:last-child {
          width: auto;
        }

        & > a {
          text-decoration: none;
          width: auto;
        }

        & > small {
          color: #aaa;
          padding: 0 5px;
          width: auto;
        }
      }
    }

    & > span {
      font-size: 1em;
      float: left;
      height: auto;
      line-height: 64px;
      overflow: hidden;
      white-space: nowrap;
    }

    &.referenced {
      border-radius: 0;
      border-bottom: 1px solid #eee;
      margin: 0;
      padding: 0;
      box-shadow: none;

      & > span {

        & > * {
          float: none;
          line-height: normal;
          display: inline-block;
          vertical-align: middle;

          & > * {
            float: none;
            line-height: normal;
            display: inline-block;
            vertical-align: middle;
          }
        }

        & > a {
          padding: 0;
          width: 100%;

          & > .icon {
            width: 24px;
            height: 24px;
            margin: -1px 10px 0 0;

            @media screen and (min-width: 640px) {
              width: 32px;
              height: 32px;
              margin: -3px 20px 0 0;
            }
          }
        }

        &:first-child {
          width: 90%;
        }

        &:last-child {
          width: auto;
        }
      }
    }
  }

  &.added {
    -webkit-animation: .4s ease-out 0s 1 rotateX;
    animation: .4s ease-out 0s 1 rotateX;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    display: inline-block;
    float: left;
    padding: 20px 0;
    position: relative;
    width: 100%;

    & > span {
      font-size: 1em;
      float: left;
      height: auto;
      overflow: visible;

      & > a {
        float: left;
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        text-align: center;

        & > .icon {
          height: 32px;
          margin-right: 20px;
          width: 32px;
          margin-left: 0;
          margin-top: 0;
          position: relative;
        }
      }

      & > .v-btn {
        float: left;
        position: relative;
        width: 32px;
        height: 32px;
        background: none;
        border: none;
        overflow: hidden;
        padding: 0;
        margin: 16px 5px;
      }

      .select {
        min-width: 75px;
        margin: 0;
        position: absolute;
        right: 0;
      }

      &:first-child {
        width: 84%;
      }

      &:last-child {
        float: right;
        overflow: hidden;
        text-align: right;
        width: auto;

        & > .v-btn {
          border-radius: 0;
          margin: 0;
          top: -10px;
        }
      }
    }
  }
}

.icon {
  float: left;
  max-height: 48px;
  max-width: 48px;
  min-height: 14px;
  min-width: 14px;
  position: relative;
}

.v-icon {
  float: left;
  max-height: 48px;
  max-width: 48px;
  min-height: 14px;
  min-width: 14px;
  position: relative;
}

.v-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: none;
  white-space: nowrap;
  padding: 0;
  border-radius: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.v-expansion-panel-content__wrap {
  padding: 0;
}

#product-view {

  .item-property {
    height: 60px;

    & > span {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

      &:last-child {
        line-height: 1.4;
        max-width: 75%;
        right: 0;
        text-align: left;
      }
    }

    @media screen and (min-width: 768px) {
      height: 70px;
    }
  }
}

@media screen and (min-width: 1904px) {
  .container {
    max-width: 1480px;
  }
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 25px!important;
  }

  h2 {
    font-size: 1.1em;
  }
}

#nprogress {
  display: block;

  .bar {
    background: #ff5722;
    height: 5px;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
  }

  .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;

    .spinner-icon {
      width: 18px;
      height: 18px;
      box-sizing: border-box;
      border: solid 2px transparent;
      border-top-color: #ff5722;
      border-left-color: #ff5722;
      border-radius: 50%;
      -webkit-animation: nprogress-spinner 400ms linear infinite;
      animation: nprogress-spinner 400ms linear infinite;
    }
  }
}


/*

#覆盖部分vuetify css
*/

.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot {
  box-shadow: none;
}


#products .product-list .v-list .v-list-item__title span:last-child p {
  display: inline;
}

@media screen and (max-width: 480px) {

  .slide-caption {
    margin-left: 0;
    left: 0;
    bottom: 35px;

    h1 {
      font-size: 16px;
    }

    .button {
      height: 30px !important;
      line-height: 30px !important;
      width: 140px !important;
    }
  }
}